html {
  font-family: 'IBM Plex Sans', 'Cambria', Helvetica, Arial, sans-serif;
  width: 100%;
  min-width: 1280px;
  height: 100%;
  font-size: 15.5px;
}

body {
  margin-top: 0px;
  padding-top: 0px;
  width: auto;
  height: auto;
  text-align: center;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: black;
}

#headDiv {
  padding-top: 1%;
  margin-top: 0;
  background-color: white;
  width: 100%;
}

#uniprotId {
  text-decoration: underline;
}

@media screen and (max-width: 1280px) {
  footer {
    padding-top: 3vh;
  }
  #context {
    width: 40%;
    text-align: left;
  }

  #container {
    width: 85%;
    padding-top: 30px;
    margin: auto;
    max-width: 1500px;
  }

  #container > div {
    margin: 0 auto;
  }

  #logo_actru {
    width: 20vh;
    max-width: 200px;
    transform: translate(10%, 10%);
  }

  #logo_kitchen {
    width: 20vh;
    max-width: 200px;
    transform: translate(-10%, 10%);
  }

  #headText {
    margin-top: 0;
    font-size: 4rem;
  }

  .divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid grey;
    padding-top: 0;
    padding-bottom: 3.5rem;
  }

  #table {
    height: 350px;
    /* width: 100%; */
    /* width: 1230px; */
    max-width: 1230px;
    /* min-width: 1230px; */
    font-size: 10px;
  }

  .ag-theme-alpine .ag-row {
    font-size: 10px;
  }

  #plotCont {
    opacity: 0;
    height: 100%;
    width: 90%;
  }

  #plotGrid {
    height: 100%;
    width: 100%;
  }

  #diagDiv,
  #eduDiv,
  #apoeDiv {
    height: 40rem;
    /* width: 65%; */
    /* color: #8f87b1; */
  }

  #ageDiv,
  #pmiDiv {
    /* width: 60%; */
  }

  #sexDiv {
    height: 40rem;
    width: 50%;
  }

  #pmiDiv {
    height: 35rem;
  }

  .centerText {
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .medText {
    font-size: 1.5rem;
  }

  .grid {
    display: grid;
    /* border: 1px solid black; */
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  #infoDiv {
    opacity: 0;
    margin: 0 auto;
    text-align: left;
    width: 55%;
    height: 25%;
  }

  #infoCont {
    margin-top: 5%;
    text-align: left;
    margin-left: 5%;
  }

  .infoGrid {
    width: 60%;
    margin-top: 5%;
    /* margin-right: 0%; */
    margin-left: 15%;
    padding-left: 5%;
    outline: 2px solid grey;
    text-align: left;
    display: grid;
    max-height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
  }

  #geneTitle {
    font-size: 2.2rem;
  }

  #dropDiv {
    opacity: 0;
  }

  #titleRow {
    margin-bottom: 0;
  }

  .subTitle {
    font-size: 1.2rem;
    color: grey;
  }

  .divide {
    height: 1px;
    width: 95%;
    background-color: grey;
    margin-top: 0;
  }

  #geneDescrp {
    padding: 0;
  }

  #sigVars {
    padding: 0;
  }

  #firstRow {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1281px) {
  footer {
    padding-top: 3vh;
  }
  #context {
    width: 40%;
    text-align: left;
  }

  #container {
    width: 85%;
    padding-top: 30px;
    margin: auto;
    max-width: 1500px;
  }

  #container > div {
    margin: 0 auto;
  }

  #logo_actru {
    width: 20vh;
    max-width: 200px;
    transform: translate(10%, 10%);
  }

  #logo_kitchen {
    width: 20vh;
    max-width: 200px;
    transform: translate(-10%, 10%);
  }

  #headText {
    margin-top: 0;
    font-size: 4rem;
  }

  .divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid grey;
    padding-top: 0;
    padding-bottom: 3.5rem;
  }

  #table {
    height: 350px;
    /* width: 100%; */
    width: 1230px;
    max-width: 1230px;
    /* min-width: 1230px; */
  }

  #plotCont {
    opacity: 0;
    height: 100%;
    width: 90%;
  }

  #plotGrid {
    height: 100%;
    width: 100%;
  }

  #diagDiv,
  #eduDiv,
  #apoeDiv {
    height: 40rem;
  }

  #ageDiv,
  #pmiDiv {
    /* width: 60%; */
  }

  #sexDiv {
    height: 40rem;
    width: 50%;
  }

  #pmiDiv {
    height: 35rem;
  }

  .centerText {
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .medText {
    font-size: 1.5rem;
  }

  .grid {
    display: grid;
    /* border: 1px solid black; */
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  #infoDiv {
    opacity: 0;
    margin: 0 auto;
    text-align: left;
    width: 55%;
    height: 25%;
  }

  #infoCont {
    margin-top: 5%;
    text-align: left;
    margin-left: 5%;
  }

  .infoGrid {
    width: 60%;
    margin-top: 5%;
    /* margin-right: 0%; */
    margin-left: 15%;
    padding-left: 5%;
    outline: 2px solid grey;
    text-align: left;
    display: grid;
    max-height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
  }

  #geneTitle {
    font-size: 2.2rem;
  }

  #dropDiv {
    opacity: 0;
  }

  #titleRow {
    margin-bottom: 0;
  }

  .subTitle {
    font-size: 1.2rem;
    color: grey;
  }

  .divide {
    height: 1px;
    width: 95%;
    background-color: grey;
    margin-top: 0;
  }

  #geneDescrp {
    padding: 0;
  }

  #sigVars {
    padding: 0;
  }

  #firstRow {
    margin-bottom: 0;
  }
}

.hidden {
  display: none;
}

#table {
  opacity: 0;
}

.padTop1Rem {
  padding-top: 1rem;
}

.padTop2Rem {
  padding-top: 2rem;
}
.padTop3Rem {
  padding-top: 3rem;
}
.padTop4Rem {
  padding-top: 4rem;
}

.padBot1Rem {
  padding-bottom: 1rem;
}

.padBot2Rem {
  padding-bottom: 2rem;
}
.padBot3Rem {
  padding-bottom: 3rem;
}
.padBot4Rem {
  padding-bottom: 4rem;
}

.ag-theme-balham .ag-row-selected {
  background-color: #4abbff;
}

.ag-theme-balham .ag-ltr .ag-cell-focus {
  border: 1px solid red;
}



.header_l {
  padding: 10px;
  /* text-align: left; */
  float: left;
  color: white;
  font-size: 30px;
}

.header_r {
  padding: 10px;
  text-align: right;
  /* float: right; */
  color: white;
  font-size: 30px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 30px;
}